<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" 
      internalLogFile="C:/Program Files/CCN/CCN_CameraService/Program/NlogInternal.txt" >

  <targets async="true" >


    <target xsi:type="Mail"
            name="AsyncgMail"
            layout="${longdate}${newline}${message}${newline} ${exception:innerFormat=Message : maxInnerExceptionLevel=1 : innerExceptionSeparator=, : format=Message,Type,Method}"
            html ="true"
            replaceNewlineWithBrTagInHtml="true"
            addNewLines= "true"
            to="tony.sysadmin@ccn.org.za"
            from="tony@ccn.org.za"
            smtpUserName="tony@ccn.org.za"
            enableSsl="true"
            smtpPassword="M6f6b613!"
            smtpAuthentication="Basic"
            smtpServer="smtp.ccn.org.za"
            smtpPort="587" />

    <target name="AsyncFile" xsi:type="File"
                layout="${longdate} ${newline}${message}${newline} ${exception:innerFormat=Message : maxInnerExceptionLevel=1 : innerExceptionSeparator=, : format=Message,Type,Method}"
                fileName="C:/Program Files/CCN/CCN_CameraService/Program/nlogfile.txt"
                createDirs="true"
                keepFileOpen="false" />
  </targets>

  <!--
    Writing events to the a file with the date in the filename. 
    <target xsi:type="File" name="f" fileName="${basedir}/logs/${shortdate}.log"
            layout="${longdate} ${uppercase:${level}} ${message}" />
    -->


  <rules>
    <logger name="*" minlevel="Error" writeTo="AsyncgMail,AsyncFile" />
    <logger name="*" maxlevel="Warn" writeTo="AsyncFile" />

    
  </rules>
</nlog>


